.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #e9ecef;
}

.NavBar {
  background-color: #444444;
}

.Navbar-Links {
  color: rgba(255,255,255,.75);
}

.header-image {
  background-image: url("./Images/Dance_Sketch_1.jpg");
  background-repeat: no-repeat; 
  background-size: contain;
  height: 34rem;
}

.header-title {
  font-size: 11.5vh;
}

.header-subtitle {
  font-size: 3.25rem;
}

.jumbotron {
  /* /background-image: url("./Images/seats.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.hs1 {
  background-image: url("./Images/hs1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 33rem;
}


